@use '../../utils/styles/general/vars.scss' as *;
@use '../../utils/styles/mixins/_adaptive-properties.sass' as *;

.footer 
  display: flex
  justify-content: space-between
  align-items: center
  padding: aCalc(16) aCalc(80)
  border-bottom: aCalc(2) solid #fc8803
  +mob($sm)
    padding: 16px
    border-width: 2px
  svg, img
    width: aCalc(80)
    height: aCalc(80)
    object-fit: cover
    +mob($sm)
      width: 50px
      height: 50px