@use '../../utils/styles/general/vars.scss' as *;
@use '../../utils/styles/mixins/_adaptive-properties.sass' as *;

.navigation
  display: flex
  align-items: center
  
  &__list
    display: flex
    list-style: none
    margin: 0
    padding: 0
    gap: aCalc(20)
    +mob($sm)
      gap: 16px
      flex-direction: column
      width: 100%
  
  &__item
    margin: 0
    padding: 0
  
  &__link
    color: inherit
    text-decoration: none
    font-size: aCalc(16)
    font-weight: 500
    padding: aCalc(8) aCalc(12)
    border-radius: aCalc(4)
    transition: background-color .3s, color .3s
    +mob($sm)
      font-size: 16px
      padding: 8px 12px
      display: block
      width: 100%
      text-align: center
    
    &:hover
      background-color: rgba(252, 136, 3, 0.1)
      color: #fc8803
    
    &:active
      background-color: rgba(252, 136, 3, 0.2)
