@use '../../utils/styles/general/vars.scss' as *;
@use '../../utils/styles/mixins/_adaptive-properties.sass' as *;

h1, .h1
  font-weight: 600
  color: inherit
  font-size: aCalc(48)
  line-height: aCalc(53)
  letter-spacing: aCalc(-1.14)
  +mob($sm)
    font-size: 28px
    line-height: 31px
    letter-spacing: -1.14px

h2, .h2
  color: inherit
  font-size: aCalc(38)
  line-height: aCalc(38)
  font-weight: 500
  letter-spacing: aCalc(-1.14)
  +mob($sm)
    font-size: 22px
    line-height: 24px
    letter-spacing: -1.14px

h3, .h3
  font-weight: 500
  font-size: aCalc(24)
  line-height: aCalc(24)
  +mob($sm)
    font-size: 20px
    line-height: 24px

h4, .h4
  color: inherit
  font-size: aCalc(20)
  line-height: aCalc(28)
  +mob($sm)
    font-size: 16px
    line-height: 22px

.btn-primary
  padding: aCalc(14) aCalc(12)
  border-radius: aCalc(4)
  background-color: #fc8803
  color: #ffffff
  font-size: aCalc(20)
  flex-shrink: 0
  line-height: 100%
  font-weight: 400
  display: grid 
  justify-content: center
  align-items: center
  transition: background-color .3s
  position: relative
  +mob($sm)
    height: 60px
    padding: 20px 14px
    font-size: 20px
    border-radius: 4px
    width: 100%
  &:hover
    background-color: #00d2ff


.btn-language
  @extend .btn-primary !optional

.signin-btn, .signup-btn 
  background-color: #fc8803
  color: #ffffff
  border-radius: aCalc(6)
  padding: aCalc(20) aCalc(30)
  border-radius: aCalc(6)
  font-size: aCalc(20)
  line-height: aCalc(26)
  font-weight: 500
  width: 100%

.hollow 
  color: #fc8803
  text-decoration: none
  font-weight: 500
  padding: aCalc(8) aCalc(16)
  border: 2px solid #fc8803
  border-radius: aCalc(4)
  transition: all .3s
  display: inline-block
  margin-right: aCalc(4)
  +mob($sm)
    padding: 8px 16px
  
  &:hover
    background-color: #fc8803
    color: white