h1, .h1
  font-weight: 600
  color: inherit
  font-size: aCalc(48)
  line-height: aCalc(53)
  letter-spacing: -0.03em
  +mob($sm)
    font-size: 28px
    line-height: 31px

h2, .h2
  color: inherit
  font-size: aCalc(38)
  line-height: aCalc(38)
  font-weight: 500
  letter-spacing: -0.03em
  +mob($sm)
    font-size: 22px
    line-height: 24px

h3, .h3
  font-weight: 500
  font-size: aCalc(24)
  line-height: aCalc(24)
  +mob($sm)
    font-size: 20px
    line-height: 24px

h4, .h4
  color: inherit
  font-size: aCalc(20)
  line-height: aCalc(28)
  +mob($sm)
    font-size: 16px
    line-height: 22px